@model DAL_SHOP.Models.User

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Đăng ký</h5>
            <form action="~/Login/RegisterPost" method="post">
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input required type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập">
                    @if (ViewBag.ErrorUserVal != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.ErrorUserVal
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input required type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu">
                </div>
                @if (ViewBag.ErrorPasswordVal != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorPasswordVal
                    </div>
                }
                <div class="form-group">
                    <label for="passwordre">Mật khẩu</label>
                    <input required type="password" class="form-control" id="passwordre" name="passwordre" placeholder="Xác nhận mật khẩu">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" data-val="true" required>

                </div>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <button type="submit" class="btn btn-primary">Đăng ký</button>

            </form>
        </div>
    </div>
</div>


@*<form action="Register" method="post">

    </form>*@

@*@{
        bool? kt = ViewBag.ComfirmPassword;
        if (ViewBag.Error != null)
        {
            <br />
            <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
        }
        else if (kt == false)
        {
            <br />
            <div class="alert alert-danger" role="alert">Mật khẩu không khớp</div>
        }
    }*@